In [2]:
import pandas as pd
import numpy as np

In [46]:
df= pd.read_csv('C:/Users/rgangurde/Downloads/Data/trainTitanic.csv')

In [47]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
X= df.drop('PassengerId',axis=1).drop('Survived',axis=1).drop('Name',axis=1).drop('Ticket',axis=1).drop('Fare',axis=1).drop('Cabin',axis=1)

In [49]:
Y= df['Survived']

In [50]:
from sklearn.preprocessing import LabelEncoder

lb= LabelEncoder().fit(['male','female'])
X['Sex']= lb.transform(df['Sex'])

In [54]:
import math
str= 'wow'
avgAge= np.mean(X['Age'])
for i in range(len(X)):
    if type(X['Embarked'][i]) != type(str):
        X['Embarked'][i]= 'N'
    if math.isnan(X['Age'][i]):
        X['Age'][i]= avgAge

C:\Users\rgangurde\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
X

     Pclass  Sex        Age  SibSp  Parch Embarked
0         3    1  22.000000      1      0        S
1         1    0  38.000000      1      0        C
2         3    0  26.000000      0      0        S
3         1    0  35.000000      1      0        S
4         3    1  35.000000      0      0        S
5         3    1  29.699118      0      0        Q
6         1    1  54.000000      0      0        S
7         3    1   2.000000      3      1        S
8         3    0  27.000000      0      2        S
9         2    0  14.000000      1      0        C
10        3    0   4.000000      1      1        S
11        1    0  58.000000      0      0        S
12        3    1  20.000000      0      0        S
13        3    1  39.000000      1      5        S
14        3    0  14.000000      0      0        S
15        2    0  55.000000      0      0        S
16        3    1   2.000000      4      1        Q
17        2    1  29.699118      0      0        S
18        3    0  31.000000      1      0        S
19        3    0  29.699118      0      0        C
20        2    1  35.000000      0      0        S
21        2    1  34.000000      0      0        S
22        3    0  15.000000      0      0        Q
23        1    1  28.000000      0      0        S
24        3    0   8.000000      3      1        S
25        3    0  38.000000      1      5        S
26        3    1  29.699118      0      0        C
27        1    1  19.000000      3      2        S
28        3    0  29.699118      0      0        Q
29        3    1  29.699118      0      0        S
..      ...  ...        ...    ...    ...      ...
861       2    1  21.000000      1      0        S
862       1    0  48.000000      0      0        S
863       3    0  29.699118      8      2        S
864       2    1  24.000000      0      0        S
865       2    0  42.000000      0      0        S
866       2    0  27.000000      1      0        C
867       1    1  31.000000      0      0        S
868       3    1  29.699118      0      0        S
869       3    1   4.000000      1      1        S
870       3    1  26.000000      0      0        S
871       1    0  47.000000      1      1        S
872       1    1  33.000000      0      0        S
873       3    1  47.000000      0      0        S
874       2    0  28.000000      1      0        C
875       3    0  15.000000      0      0        C
876       3    1  20.000000      0      0        S
877       3    1  19.000000      0      0        S
878       3    1  29.699118      0      0        S
879       1    0  56.000000      0      1        C
880       2    0  25.000000      0      1        S
881       3    1  33.000000      0      0        S
882       3    0  22.000000      0      0        S
883       2    1  28.000000      0      0        S
884       3    1  25.000000      0      0        S
885       3    0  39.000000      0      5        Q
886       2    1  27.000000      0      0        S
887       1    0  19.000000      0      0        S
888       3    0  29.699118      1      2        S
889       1    1  26.000000      0      0        C
890       3    1  32.000000      0      0        Q

[891 rows x 6 columns]

In [55]:
lb= LabelEncoder().fit(['S','C','Q','N'])
X['Embarked']= lb.transform(X['Embarked'])

In [329]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.5, random_state= 2)

In [330]:
from sklearn.tree import DecisionTreeClassifier
dTree= DecisionTreeClassifier(
    criterion='gini', 
    splitter= 'best',
    max_depth= 5,
    max_features= 4,
    min_impurity_split= 0.2,
    min_samples_split= 2)

dTree.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=4, max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=0.2, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [331]:
from sklearn.metrics import accuracy_score
yHat= dTree.predict(x_test)
print('Accuracy:', accuracy_score(y_test, yHat))

Accuracy: 0.8251121076233184

In [142]:
x_= X[['Age','Sex','Pclass']]

In [130]:
import math
str= 'wow'
avgAge= np.mean(x_['Age'])
for i in range(len(X)):
    if math.isnan(X['Age'][i]):
        X['Age'][i]= avgAge

In [143]:
x_train, x_test, y_train, y_test= train_test_split(x_, Y, test_size= 0.5, random_state= 2)

In [212]:
from sklearn.tree import DecisionTreeClassifier
dTree= DecisionTreeClassifier(
    criterion='entropy', 
    splitter= 'best',
    max_depth= 5,
    max_features= 2,
    presort= True,
    max_leaf_nodes=60,
    min_samples_split=2,
    min_weight_fraction_leaf= 0)
dTree.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=2, max_leaf_nodes=60, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0, presort=True,
            random_state=None, splitter='best')

In [213]:
from sklearn.metrics import accuracy_score
yHat= dTree.predict(x_test)
print('Accuracy:', accuracy_score(y_test, yHat))

Accuracy: 0.8139013452914798